<!--edit.ejs josh heida 300644912 June 20 2022-->
<div class="container">
    <h1 class="col-lg-6 col-md-10 col-sm-10"><%= title %> Buisness Contact</h1>
    
    <div id="messageArea"></div>

    <div class="row justify-content-lg-center g-3">
      <fieldset id="editForm" class="row justify-content-lg-center g-3">
      <form method="POST" class="col col-md-10 col">

        <div class="input-group mb-3">
          <span class="input-group-text">Contact Name</span>
          <input id="contactName" name="contactName" type="text" class="form-control" 
          value="<%= contacts.Name %>"
          aria-label="Contact Name" aria-describedby="Buisness Contact Name" required>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Contact Phone Number</span>
            <input id="contactPhone" name="contactPhone" type="text" class="form-control" 
            value="<%= contacts.phNumber %>"
            aria-label="Contact Phone Number" aria-describedby="Buisness Contact Phone Number" required>
          </div>

        <div class="input-group mb-3">
        <span class="input-group-text">Contact Email</span>
        <input id="contactEmail" name="contactEmail" type="text" class="form-control" 
        value="<%= contacts.Email %>"
        aria-label="Contact Email" aria-describedby="Buisness Contact Email" required>
        </div>

        
        <% if(title == "Edit") { %>
        <button id="editButton" type="submit" class="btn btn-success"><i class="fas fa-edit fa-lg"></i> Edit</button>
        <a href="/delete/<%=contacts._id %>" class="btn btn-danger btn-sm delete"><i class="fa-solid fa-user-slash"></i>Delete</a></td> 
        <% } else {%>
        <button id="addButton" type="submit" class="btn btn-success"><i class="fas fa-plus-circle fa-lg"></i> Add</button>
        <% } %>  

        <a href="/buisness-contacts" id="cancelButton" type="button" class="btn btn-warning"><i class="fas fa-undo fa-lg"></i> Cancel</a>
      </fieldset>
      </form>

    </div>
</div>

